<html>
<title>Editor</title>
<head>
</head>
<body>
  <div id="editor" style = "height: 400px"></div>
  <br></br>
  <label>Users Joined</label>
  <p id = "listOfUsers"></p>
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
</body>
<script src ="/socket.io/socket.io.js"></script>
<script>
  let editor = new Quill("#editor",{
    theme : "snow",
    modules: {
      toolbar: true
    }
  });

  let getParams = function (url) {
  	let params = {};
  	let parser = document.createElement('a');
  	parser.href = url;
  	let query = parser.search.substring(1);
  	let vars = query.split('&');
  	for (let i = 0; i < vars.length; i++) {
  		let pair = vars[i].split('=');
  		params[pair[0]] = decodeURIComponent(pair[1]);
  	}
  	return params;
  };

  let params = getParams(window.location.href);

  let socket = io.connect();
  socket.emit('join', params);

  editor.on("text-change", (delta,oldDelta,source) => {
      if(source =='api')
        return;

      let index, inserted, deleted;

      if(delta['ops'].length == 1){
        index = 0;
        inserted = delta['ops'][0]['insert'];
        deleted = delta['ops'][0]['delete'];
      }
      else{
        index = delta['ops'][0]['retain'];
        inserted = delta['ops'][1]['insert'];
        deleted = delta['ops'][1]['delete'];
      }
      socket.emit('send message', inserted, deleted, index ,params['id']);
  });

  socket.on('new message', data => {
    if(data['delete']==null)
      editor.insertText(data['index'], data['insert']);
    else
      editor.deleteText(data['index'],data['delete']);
  })
  socket.on('userJoined', nameOfUsers => {
      document.getElementById('listOfUsers').innerHTML = '';
      nameOfUsers.forEach(val => document.getElementById('listOfUsers').innerHTML+= `<li>${val['name']}</li>`);
  })
  socket.on('send_data', () => socket.emit('get_data', editor.getText(0,editor.getLength())));
  socket.on('take_data', data => editor.setText(data));
</script>
</html>
